$color_primary: #021422;
$color_primary_1: #021422ee;
$color_primary_2: #021e2ea7;
$color_primary_light:#9CD1FF;
$color_accent_1:#3276d6;
//$color_accent_1:#378afd;

$color_accent_1_a: lighten($color_accent_1, 40%);
$color_accent_2:#586756;
$color_white: #FFFF;
$color_white_1: #ffffff8e;
$color_white_2: #cecece;
$color_white_3: #fdfdfd;
$color_white_4: #fbfbfb;
$color_gray:rgb(85, 85, 85);
$ripple-color:  lighten($color_accent_1, 1%);