.flaticon-quality:before {
  content: "\f100";
}
.flaticon-stopwatch:before {
  content: "\f101";
}
.flaticon-api:before {
  content: "\f102";
}
.flaticon-api-1:before {
  content: "\f103";
}
.flaticon-cancel:before {
  content: "\f104";
}
.flaticon-cancel-1:before {
  content: "\f105";
}
.flaticon-computer:before {
  content: "\f106";
}
.flaticon-graphic-designer:before {
  content: "\f107";
}
.flaticon-coding:before {
  content: "\f108";
}
.flaticon-app-development:before {
  content: "\f109";
}

$font-Flaticon-quality: "\f100";
$font-Flaticon-stopwatch: "\f101";
$font-Flaticon-api: "\f102";
$font-Flaticon-api-1: "\f103";
$font-Flaticon-cancel: "\f104";
$font-Flaticon-cancel-1: "\f105";
$font-Flaticon-computer: "\f106";
$font-Flaticon-graphic-designer: "\f107";
$font-Flaticon-coding: "\f108";
$font-Flaticon-app-development: "\f109";
