@import "./button";
@import "./grids";
@import "./indps";
@import "./select";

body,
html {
  margin: -1px 0 0 0;
  padding: 0px;
  z-index: -2 !important;
}
input,
button,
textarea {
  outline: none;
}
a {
  text-decoration: none !important;
  @include transform_time(0.5s);
  cursor: pointer !important;
}
h3,
h4,
h5,
p {
  font-family: roboto-medium;
}

p {
  font-family: $secondary-font;
}
ul,
li {
  list-style: none;
}
ul {
  padding-inline-start: 0px !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}
.d-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
  @include ease-transition(all, 0.4s, ease-in-out);
  &:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
      brightness(104%) contrast(97%);
    transform: scale(1.4);
  }
}
.nav-icon {
  width: 21px;
  cursor: pointer;
  &::after,
  &::before,
  .in-d {
    background-color: $color-white-1;
    border-radius: 10px;
    content: "";
    display: block;
    height: 3.4px;
    margin: 3px 0;
    @include ease-transition(all, 0.5s, ease-in-out);
  }
  &:hover::before::after {
    background-color: $color-accent-1;
  }
}

.open-menu-btn {
  &::before {
    transform: translateY(6.7px) rotate(135deg);
  }
  &::after {
    transform: translateY(-6.7px) rotate(-135deg);
  }
  .in-d {
    transform: scale(0);
  }
}

.open-menu {
  clip-path: circle(150% at 100% 0%) !important;
}

.activepage {
  ::after {
    content: "";
    background-color: $color-accent-1;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    display: block;
    animation: flash-width 2s infinite;
  }
}
.active-menu {
  border-radius: 2px;
  background-color: rgba($color-primary-2, 0.04);
  border-left: 2px solid $color-accent-1;
  a {
    color: $color-accent-1;
  }
}

// Flaticon Icon
@include flaticon_icon_m(35px, $color-white);

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.icon {
  span {
    line-height: 1.3;
    position: relative;
    font-size: 10px;
    width: 70px;
    height: 70px;
    background: $color-accent-1;
    @include flex-center;
    @include border-radius(50%);
    @include transition(0.3s);
    i {
      font-size: 10px;
    }
  }
}
.icon2 {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  span {
    line-height: 1.3;
    position: relative;
    font-size: 30px;

    background: rgba($color-accent-1, 0.1);
    @include flex-center;
    @include border-radius(50%);
    @include transition(0.3s);
    i {
      font-size: 20px;
      color: $color-accent-1;
    }
  }
}
.icon3 {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  span {
    line-height: 1.3;
    position: relative;
    font-size: 30px;

    background: $color-accent-1;
    @include flex-center;
    @include border-radius(50%);
    @include transition(0.3s);
    i {
      font-size: 20px;
      color: $color-accent-1;
    }
  }
}
.icon4 {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background: $color-white;
  @include border-radius(50%);
  animation: pulse-a 2s infinite;
  @include flex-center;
  span {
    line-height: 1.3;
    @include flex-center;
    @include transition(0.3s);
    @include flaticon_icon_m(20px, $color-accent-1);
    i {
      font-size: 25px;
      color: $color-accent-1;
    }
  }
}
.icon7 {
  width: 60px;
  position: fixed;
  height: 60px;
  margin: 20px;
  z-index: 8;
  bottom: 0;
  right: 0;
  display: none !important;
  background: $color-accent-1;
  @include border-radius(50%);
  @each $screen in $all_small_screen {
    @media #{$screen} {
      display: block !important;
      background: $color-accent-1;
      span {
        height: 60px;
        line-height: 1.3;
        position: relative;
        @include flex-center;
        @include transition(0.3s);
        @include flaticon_icon_m(20px, $color-white);

        i {
          font-size: 20px;
          color: $color-white;
        }
      }
    }
  }
}
.icon5 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: rgba($color-accent-1, 0.3);
  @include border-radius(50%);
  @include transition(0.3s);
  span {
    line-height: 1.3;
    @include flex-center;
    i {
      font-size: 20px;
      color: $color-accent-1;
    }
  }
}
.icon6 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  @include border-radius(50%);
  @include transition(0.3s);
  span {
    line-height: 1.3;
    @include flex-center;
    i {
      font-size: 20px;
      color: $color-accent-1;
      animation: 1.6s ease infinite wheel-left-right !important;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 220;
  }
  to {
    opacity: 1;
    top: 0;
  }
}



.cust-reactjs {
  background-image: $react-icon;
  @include fit-background;
  margin-right: 10px;
  @include sizing(45px, 40px);
}
.cust-angular {
  background-image: $angula-icon;
  @include fit-background;
  margin-right: 10px;
  @include sizing(40px, 40px);
}
.cust-vue {
  background-image: $vue-icon;
  @include fit-background;
  margin-right: 10px;
  @include sizing(43px, 37px);
}
.cust-jquery {
  background-image: $jquery-icon;
  @include fit-background;
  margin-right: 10px;
  @include sizing(40px, 40px);
}

.cust-nodejs {
  background-image: $nodejs-icon;
  @include fit-background;
  margin-right: 20px;
  @include sizing(42px, 46px);
}
.cust-java {
  background-image: $java-icon;
  @include fit-background;
  margin-right: 20px;
  @include sizing(38px, 52px);
}
.cust-rails {
  background-image: $rails-icon;
  @include fit-background;
  margin-right: 20px;
  @include sizing(40px, 45px);
}
