//FOOTER
.footer {
  background: $color-primary;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 7em 0;
  .logo {
    height: 40px;
    position: relative;
    img {
      height: 40px;
      width: 40px;
      // @each $var in $all-small-screen {
      //   @media #{$var} {
      //     height: 30px;
      //     width: 150px;
      //   }
      // }
    }
    span {
      color: $color-white;
      opacity: 0.7;
      text-transform: uppercase;
      font-size: 20px;
      font-family: dosis;
      margin-left: 10px;
    }
  }
  a {
    color: $color-accent-1;
  }
  p {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
  }
  .copyright {
    color: rgba(255, 255, 255, 0.3);
    color: lighten(#000, 60%);
  }
  .footer-heading {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700;
    color: $color-white;
    position: relative;
    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: "";
      width: 40px;
      height: 4px;
      background: $color-accent-1;
    }
  }
  ul.list-unstyled {
    li {
      a {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .block-21 {
    .img {
      display: block;
      height: 80px;
      width: 80px;
    }
    .text {
      width: calc(100% - 100px);
      margin-left: 5px !important;
      .heading {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        a {
          color: $color-white;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
      }
      .meta {
        > div {
          display: inline-block;
          font-size: 12px;
          margin-right: 5px;
          a {
            color: lighten(#000, 50%);
          }
        }
      }
    }
  }
  .block-23 {
    ul {
      li {
        color: rgba(255, 255, 255, 0.6);
        a {
          color: rgba(255, 255, 255, 0.6);
        }
        .icon {
          color: rgba(255, 255, 255, 0.4);
          margin-right: 10px;
        }
      }
    }
  }
  .ftco-footer-social {
    li {
      a {
        background: rgba(255, 255, 255, 0.1);
        color: $color-accent-1;
      }
    }
  }
  .btn-1 {
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 5px !important;
    margin-top: 20px;
  }
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 40px;
      width: 40px;
      display: block;
      float: left;
      background: rgba($color-accent-1, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: $color-white;
      }
    }
  }
}
.footer-small-nav {
  > li {
    display: inline-block;
    a {
      margin: 0 10px 10px 0;
      &:hover,
      &:focus {
        color: $color-accent-1;
      }
    }
  }
}
