.main_menu {
  // @include show-borders(red, 1px);
  position: absolute;
  width: 100%;
  height: 85px;
  align-content: center;
  margin-top: 50px;
  z-index: 4 !important;
  @each $var in $all-extra-small-screen {
    @media #{$var} {
      margin-top: 0px;
    }
  }
  .row {
    height: 85px;
    display: flex;
    position: relative;
    justify-content: space-between;
    @each $var in $all-extra-small-screen {
      @media #{$var} {
        padding: 0 30px 0 30px !important;
      }
    }

    .logo {
      height: 40px;
      position: relative;
      @include flex-center;
      img {
        height: 40px;
        width: 40px;
        // @each $var in $all-small-screen {
        //   @media #{$var} {
        //     height: 30px;
        //     width: 150px;
        //   }
        // }
      }
      span {
        color: $color-white;
        opacity: 0.7;
        text-transform: uppercase;
        font-size: 20px;
        font-family: dosis;
        margin-left: 10px;
        &:after {
          position: absolute;
          top: 10px;
          right: -5px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          content: "";
          background: $color-accent-1;
          animation: pulse-a 2s infinite;
        }
      }
    }
    .menu-btn {
      @include hide-on($all-big-screen);
      @include hide-on($all-medium-screen);
      @include show-on($all-small-screen);
    }
    .nav-links {
      height: 70px;
      @include flex-center;
      @include hide-on($all_small_screen);
      @include ease-transition(display, 0.5s, ease-in-out);
      ul {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
        li {
          @include flex-center;
          list-style: none;
        }
      }
    }

    a {
      font-size: 15px;
      color: $color-white;
      font-weight: 700;
      opacity: 1;
      font-family: dosis, helvetica;
      text-decoration: none;
      cursor: pointer;
      @include ease-transition(all, 0.3s, ease-in-out);
      &:hover {
        transform: scale(1.09);
        opacity: 1;
        color: $color-accent-1 !important;
      }
    }
    .btn-1{
      &:hover {
        opacity: 1;
        color: $color-white !important;
      }
    }
  }
}
.header-scrolled {
  position: fixed;
  margin-top: 0 !important;
  right: 0;
  left: 0;
  top: 0;
  z-index: 0;
  background: $color-white !important;
  box-shadow: $main_shadow;
  .logo {
    span {
      color: $color-accent-1 !important;
      opacity: 1 !important;
    }
  }
  .nav-links {
    a {
      color: $color_gray !important;
    }
    .btn-1 {
      color: $color-white !important;
    }
  }
  .nav-icon {
    &::after,
    &::before,
    .in-d {
      background-color: $color-accent-1;
    }
  }
}
.nav-menu-lists-scrolled {
  background-color: $color-white !important;
  .nav-menu-content {
    .nav-links-menu {
      ul {
        li {
          a {
            color: $color_gray !important;
          }
          .btn-1 {
            color: $color-white !important;
          }
        }
      }
    }
  }
}
.nav-menu-lists {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $color-primary;
  clip-path: circle(0 at 100% 0%);
  @include ease-transition(all, 0.5s, ease-in-out);
  z-index: 3 !important;

  .nav-menu-content {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex-center;
    .nav-links-menu {
      width: 70%;
      ul {
        li {
          @include flex-center;
          list-style: none;
          @include ease-transition(background-color, 0.5s, ease-in-out);
          // @include show-borders(red, 1px);
          // border-left: 2px solid red;
          height: 70px;
          a {
            font-size: 20px;
            color: $color-white-1;
            font-weight: 700;
            opacity: 1;
            text-decoration: none;
            cursor: pointer;
            @include ease-transition(all, 0.3s, ease-in-out);
          }
          &:hover {
            a {
              transform: scale(1.09);
              opacity: 1;
              color: $color-accent-1;
            }
          }
          .btn-1 {
            font-size: 20px !important;
            border-radius: 2px;
            padding: 12px 20px;
          }
        }
      }
    }
  }
}
